/* nav bar */

#links { text-align: center; }
#links a {
	color: #FFF;
}
#links a:hover {
    color: #258faf; 
}

.demo {
	text-align: center;
}

.demo img { width: 100%; }

.feature-banner { 
	text-align: center;
	margin: 1.2em 0;
}