/* nav bar */

#links { text-align: center; }
#links a {
	color: #FFF;
}
#links a:hover {
    color: #258faf; 
}

.demo {
	text-align: center;
}

.demo img { width: 100%; }

.feature-banner { 
	text-align: center;
	margin: 1.2em 0;
}

.note {
    margin: 5px 50px 5px 50px;
    padding: 5px;
    background-color: #eed8ae;
    border: 1px solid grey;
    font-size: .9em;
}


.setupimg {
    margin: 5px 50px 5px 50px;
}